body{background-color: burlywood;}
h1{color: green;}
h2{color: brown;}
h3{color:rgb(117, 53, 53)}
p{color: maroon;}
a{color: rgb(158, 91, 4);}
li{color:rgb(145, 108, 63)}
.published{color: yellow;}
#end{color: firebrick;}